<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LumberjackApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>LumberjackFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C64983051B9104D30002E21A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C649831E1B9104D30002E21A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C64983331B9104E30002E21A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C649833D1B9104E30002E21A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
